* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 375px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
}

.header .shadow {
  position: relative;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.21);
}

.header .logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px;
}

.header .logo-header span {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}

.header .logo-header a {
  position: absolute;
  top: 20px;
  left: 24px;
  font-size: 20px;
  color: black;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 15px;
  background-color: #eaeaea;
  gap: 10px;
}

.location span,
.location h1 {
  font-size: 18px;
}

.how-it-works {
  width: 100%;
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 20px 0px 20px;
}

.how-it-works h1 {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  font-family: "Roboto", sans-serif;
  margin: 46px 0px 26px 0px;
}

.how-it-works .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 98%;
  gap: 22px;
  margin-left: 10px;
}

.how-it-works .cards .how-it-works-card {
  width: 100%;
  height: 74px;
  background-color: #f6f6f6;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 20px 20px 20px 25px;
  gap: 20px;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.21);
}

.how-it-works .cards .how-it-works-card span {
  position: absolute;
  left: -15px;
  height: 25px;
  width: 25px;
  font-size: 15px;
  font-weight: 200;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  background-color: #9356dc;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-it-works .cards .how-it-works-card i {
  font-size: 18px;
  color: #9a9a9a;
}

.how-it-works .cards .how-it-works-card p {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.how-it-works .cards .how-it-works-card:nth-child(3) {
  background-color: #f5edff;
}

.how-it-works .cards .how-it-works-card:nth-child(3) i {
  color: #a877e3;
}

.restaurants {
  width: 100%;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 60px;
}

.restaurants h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin: 52px 0px 0px 20px;
}

.restaurants .restaurants-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px 20px 0px 20px;
  gap: 28px;
}

.restaurants .restaurants-cards .card {
  width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.45);
  position: relative;
}

.restaurants .restaurants-cards .card .card-image {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  border-radius: 12px 12px 0px 0px;
}

.restaurants .restaurants-cards .card:nth-child(2) .card-image {
  -o-object-position: center -148px;
     object-position: center -148px;
}

.restaurants .restaurants-cards .card .card-like {
  position: absolute;
  right: 23px;
  bottom: 30px;
}

.restaurants .restaurants-cards .card-content {
  margin: 15px;
  height: 41px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.restaurants .restaurants-cards .card-content h3 {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.restaurants .restaurants-cards .card-content p {
  font-size: 16px;
  font-weight: 200;
  color: #aaaaaa;
}

.restaurants .restaurants-cards .card-content-like-button {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.restaurant-image img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 0;
}

.menu-book-container {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 288px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}

.menu-book-container .menu-explore-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  border: none;
  width: 218px;
  height: 50px;
  border-radius: 50px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.menu-book-container h1 {
  font-size: 24px;
  font-weight: 700;
}

.menu-book-container p {
  width: 298px;
  font-size: 18px;
  font-weight: 200;
  text-align: center;
}

.menu-container {
  position: relative;
  top: -55px;
  width: 100%;
  z-index: 1;
  border-radius: 40px 40px 0px 0px;
  background-color: white;
  padding: 0 15px 15px 15px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 197px;
  background-color: #f6f6f6;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background-color: #353535;
  padding: 22px 25px;
}

footer .logo {
  font-size: 18px;
  color: white;
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 18px;
}

footer .footer-list li {
  list-style: none;
  margin-bottom: 8px;
}

footer .footer-list li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

footer .footer-list li a i {
  width: 12px;
  height: 12px;
  font-size: 12px;
  margin-right: 12px;
}

.new-restaurant {
  position: absolute;
  top: 13px;
  right: 11px;
  height: 30px;
  width: 80px;
  background-color: #99e2d0;
  text-align: center;
  padding: 6px 0px 0px 0px;
  font-size: 14px;
  font-weight: 700;
  color: #30836e;
  border-radius: 2px;
}

.card-content-like-button input[type="checkbox"],
.menu-tittle-like-button input[type="checkbox"] {
  position: relative;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-content-like-button input[type="checkbox"] + label,
.menu-tittle-like-button input[type="checkbox"] + label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-content-like-button input[type="checkbox"] + label i,
.menu-tittle-like-button input[type="checkbox"] + label i {
  position: absolute;
  top: 3px;
  font-size: 22px;
  color: black;
  z-index: 0;
}

.card-content-like-button input[type="checkbox"] + label::before,
.menu-tittle-like-button input[type="checkbox"] + label::before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-family: "font awesome 5 free";
  font-weight: 100;
  font-size: 22px;
  color: black;
  z-index: 1;
  content: "";
  /* fa-heart */
  cursor: pointer;
}

.card-content-like-button input[type="checkbox"]:checked + label::before,
.menu-tittle-like-button input[type="checkbox"]:checked + label::before {
  font-size: 22px;
  -webkit-animation: fill-in 0.3s ease-in-out forwards;
          animation: fill-in 0.3s ease-in-out forwards;
  font-weight: 700;
  background: linear-gradient(45deg, #ff79da 0%, #9356dc 100%);
  background-size: 10%;
  background-clip: text;
  background-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  content: "\f004";
  /* fa-heart */
}

.loading-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-animation: loading-fade 1.8s ease-in-out 4s forwards;
          animation: loading-fade 1.8s ease-in-out 4s forwards;
}

.loading-overlay .loader {
  position: relative;
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.loading-overlay .loader span {
  position: relative;
  display: inline-block;
  font-family: "Shrikhand", sans-serif;
  font-size: 40px;
}

.loading-overlay .loader span:nth-child(1) {
  -webkit-animation: text-jump 1.8s ease-in-out 0.1s forwards 3, loading-fade 1.8s ease-in-out 3.5s forwards;
          animation: text-jump 1.8s ease-in-out 0.1s forwards 3, loading-fade 1.8s ease-in-out 3.5s forwards;
}

.loading-overlay .loader span:nth-child(2) {
  -webkit-animation: text-jump 1.8s ease-in-out 0.2s forwards 3, loading-fade 1.8s ease-in-out 3.5s forwards;
          animation: text-jump 1.8s ease-in-out 0.2s forwards 3, loading-fade 1.8s ease-in-out 3.5s forwards;
}

.loading-overlay .loader span:nth-child(3) {
  -webkit-animation: text-jump 1.8s ease-in-out 0.3s forwards 3, loading-fade 1.8s ease-in-out 3.5s forwards;
          animation: text-jump 1.8s ease-in-out 0.3s forwards 3, loading-fade 1.8s ease-in-out 3.5s forwards;
}

.loading-overlay .loader span:nth-child(4) {
  -webkit-animation: text-jump 1.8s ease-in-out 0.4s forwards 3, loading-fade 1.8s ease-in-out 3.5s forwards;
          animation: text-jump 1.8s ease-in-out 0.4s forwards 3, loading-fade 1.8s ease-in-out 3.5s forwards;
}

.loading-overlay .loader span:nth-child(5) {
  -webkit-animation: text-jump 1.8s ease-in-out 0.5s forwards 3, loading-fade 1.8s ease-in-out 3.5s forwards;
          animation: text-jump 1.8s ease-in-out 0.5s forwards 3, loading-fade 1.8s ease-in-out 3.5s forwards;
}

.loading-overlay .loader span:nth-child(6) {
  -webkit-animation: text-jump 1.8s ease-in-out 0.6s forwards 3, loading-fade 1.8s ease-in-out 3.5s forwards;
          animation: text-jump 1.8s ease-in-out 0.6s forwards 3, loading-fade 1.8s ease-in-out 3.5s forwards;
}

.loading-overlay .loader span:nth-child(7) {
  -webkit-animation: text-jump 1.8s ease-in-out 0.7s forwards 3, loading-fade 1.8s ease-in-out 3.5s forwards;
          animation: text-jump 1.8s ease-in-out 0.7s forwards 3, loading-fade 1.8s ease-in-out 3.5s forwards;
}

.loading-overlay .loader span:nth-child(8) {
  -webkit-animation: text-jump 1.8s ease-in-out 0.8s forwards 3, loading-fade 1.8s ease-in-out 3.5s forwards;
          animation: text-jump 1.8s ease-in-out 0.8s forwards 3, loading-fade 1.8s ease-in-out 3.5s forwards;
}

.menu-tittle {
  padding: 30px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-tittle h2 {
  font-size: 25px;
  font-weight: 700;
  font-family: "Shrikhand", sans-serif;
}

.menu-tittle-like-button {
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.menu-tittle-like-button label {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
}

.menu-tittle-like-button label i {
  font-size: 22px;
  color: black;
}

.menu-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 15px;
  margin: 15px 0px 0px 0px;
}

.menu-cards .cards {
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.205);
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.205);
  padding: 12px 12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
}

.menu-cards .cards:nth-child(1) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-cards .cards:nth-child(2) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-cards .cards:nth-child(3) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-cards .cards:nth-child(4) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-cards .cards:nth-child(5) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-cards .cards:nth-child(6) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-cards .cards:nth-child(7) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-cards .cards:nth-child(8) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-cards .cards:nth-child(9) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-cards .cards:nth-child(10) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-cards .cards:nth-child(11) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-cards .cards:nth-child(12) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-cards .cards:nth-child(13) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-cards .cards:nth-child(14) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.menu-cards .cards .item-name {
  width: 80%;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 5px;
}

.menu-cards .cards .item-description {
  width: 75%;
  font-size: 15px;
  font-weight: 200;
  color: #000000;
}

.menu-cards .cards .add-to-cart {
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.menu-cards .cards .add-to-cart input[type="checkbox"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  opacity: 1;
  cursor: pointer;
  border-radius: 0 0 15px;
  overflow: hidden;
}

.menu-cards .cards .add-to-cart input[type="checkbox"]::before {
  width: 60px;
  height: 100%;
  position: absolute;
  right: -60px;
  content: "";
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #99e2d0;
}

.menu-cards .cards .add-to-cart input[type="checkbox"]::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 22px;
  color: white;
  position: absolute;
  right: -30px;
  content: "\f058";
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu-cards .cards .add-to-cart label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  right: 0px;
  top: 35px;
  margin-right: 26px;
  padding: 2px;
  font-size: 16px;
  font-weight: 700;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: white;
  overflow: hidden;
}

.menu-cards .cards .add-to-cart label::before {
  content: "...";
  margin-right: 10px;
  opacity: 0;
  display: none;
  position: relative;
  -webkit-transition: opacity 0.09s ease-in-out 0.18s;
  transition: opacity 0.09s ease-in-out 0.18s;
}

.menu-cards .cards .add-to-cart input[type="checkbox"]:checked::after {
  right: 20px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu-cards .cards .add-to-cart input[type="checkbox"]:checked::before {
  background-color: #99e2d0;
  right: 0px;
}

.menu-cards .cards .add-to-cart input[type="checkbox"]:checked + label {
  right: 45px;
}

.menu-cards .cards .add-to-cart input[type="checkbox"]:checked + .big-text::before {
  display: inline-block;
  opacity: 1;
}

.order-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
  position: relative;
  opacity: 0;
  -webkit-animation: cards-loading 1s ease-in-out forwards 5.55s;
          animation: cards-loading 1s ease-in-out forwards 5.55s;
}

.order-button button {
  position: relative;
  width: 186px;
  height: 50px;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356dc), to(#ff79da));
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  border-radius: 25px;
  color: white;
  font-size: 16px;
  border-style: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
}

.dish-types {
  font-size: 16px;
  font-weight: 200;
  color: #000000;
  margin: 22px 0px 0px 0px;
  opacity: 0;
}

.dish-types:nth-child(1) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-types:nth-child(2) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-types:nth-child(3) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-types:nth-child(4) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-types:nth-child(5) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-types:nth-child(6) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-types:nth-child(7) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-types:nth-child(8) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-types:nth-child(9) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-types:nth-child(10) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-types:nth-child(11) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-types:nth-child(12) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-types:nth-child(13) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-types:nth-child(14) {
  -webkit-animation-name: cards-loading;
          animation-name: cards-loading;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dish-types::after {
  content: "";
  background-color: #99e2d0;
  display: block;
  position: relative;
  left: -2px;
  width: 40px;
  height: 4px;
}

@-webkit-keyframes fill-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes fill-in {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes text-jump {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-55px);
            transform: scale(0.9, 1.1) translateY(-55px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    -webkit-transform: scale(1, 1) translateY(-7px);
            transform: scale(1, 1) translateY(-7px);
  }
  65% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@keyframes text-jump {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-55px);
            transform: scale(0.9, 1.1) translateY(-55px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    -webkit-transform: scale(1, 1) translateY(-7px);
            transform: scale(1, 1) translateY(-7px);
  }
  65% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@-webkit-keyframes loading-fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    overflow: visible;
    visibility: hidden;
  }
}

@keyframes loading-fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    overflow: visible;
    visibility: hidden;
  }
}

@-webkit-keyframes cards-loading {
  0% {
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    opacity: 1;
  }
}

@keyframes cards-loading {
  0% {
    -webkit-transform: translatey(10px);
            transform: translatey(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    opacity: 1;
  }
}
