// Fonts

$roboto-font-family: "Roboto", sans-serif;
$sherikhand-font-family: "Shrikhand", sans-serif;

//Fonts weights

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

//colors

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $roboto-font-family;
}
body {
  min-width: 375px;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.header {
  width: 100%;
  height: 65px;
  .shadow {
    position: relative;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.21);
  }
  .logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65px;

    span {
      font-family: $sherikhand-font-family;
      font-size: 30px;
    }
    a {
      position: absolute;
      top: 20px;
      left: 24px;
      font-size: 20px;
      color: black;
    }
  }
}

.main-container {
  width: 100%;
  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    gap: 10px;
    span {
      font-family: $roboto-font-family;
      font-size: 18px;
    }
    .location-title {
      h1 {
        font-family: $roboto-font-family;
        font-size: 18px;
      }
    }
  }
  .menu-book-banner {
    width: 100%;
    .menu-book-container {
      background-color: #f6f6f6;
      display: flex;
      height: 288px;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex-wrap: nowrap;
      font-family: $roboto-font-family;
      padding: 20px;
      .menu-explore-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(
          0deg,
          rgba(147, 86, 220, 1) 0%,
          rgba(255, 121, 218, 1) 100%
        );
        border: none;
        width: 218px;
        height: 50px;
        border-radius: 50px;
        font-size: 16px;
        font-family: $roboto-font-family;
        color: #fff;
        box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.21);
        text-decoration: none;
      }
      h1 {
        font-size: 24px;
        font-weight: $bold;
      }
      p {
        width: 298px;
        font-size: 18px;
        font-weight: $light;
        text-align: center;
      }
    }
    .how-it-works {
      width: 100%;
      height: 440px;
      display: flex;
      flex-direction: column;
      padding: 0px 20px 0px 20px;
      h1 {
        font-size: 24px;
        font-weight: $bold;
        color: #000000;
        font-family: $roboto-font-family;
        margin: 46px 0px 26px 0px;
      }
      .cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        width: 98%;
        gap: 22px;
        margin-left: 10px;
        .how-it-works-card {
          width: 100%;
          height: 74px;
          background-color: #f6f6f6;
          border-radius: 20px;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          padding: 20px 20px 20px 25px;
          gap: 20px;
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.21);
          span {
            position: absolute;
            left: -15px;
            height: 25px;
            width: 25px;
            font-size: 15px;
            font-weight: $light;
            color: #ffffff;
            font-family: $roboto-font-family;
            background-color: $primary-color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          i {
            font-size: 18px;
            color: #9a9a9a;
          }
          p {
            font-size: 16px;
            font-weight: $bold;
            color: #000000;
          }

          &:nth-child(3) {
            background-color: #f5edff;
            i {
              color: #a877e3;
            }
          }
        }
      }
    }
    .restaurants {
      width: 100%;
      background-color: #f8f8f8;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding-bottom: 60px;

      h2 {
        font-size: 24px;
        font-weight: $bold;
        font-family: $roboto-font-family;
        margin: 52px 0px 0px 20px;
      }
      .restaurants-cards {
        display: flex;
        flex-direction: column;
        padding: 22px 20px 0px 20px;
        gap: 28px;
        a {
          text-decoration: none;
        }
        .card {
          width: 100%;
          background-color: #ffffff;
          border-radius: 12px;
          box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.45);
          position: relative;
          .card-image {
            width: 100%;
            height: 175px;
            object-fit: cover;
            object-position: center bottom;
            border-radius: 12px 12px 0px 0px;
          }
          &:nth-child(2) {
            .card-image {
              object-position: center -148px;
            }
          }
        }
        .card-content {
          margin: 15px;
          height: 41px;
          h3 {
            font-size: 18px;
            font-weight: $bold;
            color: #000000;
          }
          p {
            font-size: 16px;
            font-weight: $light;
            color: #aaaaaa;
          }
        }
        .card-content-like-button {
          position: absolute;
          bottom: 25px;
          right: 25px;
        }
      }
    }

    .new-restaurant {
      position: absolute;
      top: 13px;
      right: 11px;
      height: 30px;
      width: 80px;
      background-color: $tertiary-color;
      text-align: center;
      padding: 6px 0px 0px 0px;
      font-size: 14px;
      font-weight: $bold;
      color: #30836e;
      border-radius: 2px;
    }
  }
  .restaurant-image img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    object-position: center;
    z-index: 0;
  }
  .menu-container {
    position: relative;
    top: -55px;
    width: 100%;
    height: 1196px;
    z-index: 1;
    border-radius: 40px 40px 0px 0px;
    background-color: white;
    .menu-tittle {
      padding: 31px 40px 0px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-size: 28px;
        font-weight: $bold;
        font-family: $sherikhand-font-family;
      }
      .menu-tittle-like-button {
        position: relative;
        width: 22px;
        height: 22px;
        label {
          position: absolute;
          top: 0;
          left: 0;
          width: 22px;
          height: 22px;
          i {
            font-size: 22px;
            color: #afafaf;
          }
        }
      }
    }
  }
}

footer {
  width: 100%px;
  height: 197px;
  background-color: #f6f6f6;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  background-color: #353535;
  padding: 22px 25px;
  .logo {
    font-size: 18px;
    font-weight: $bold;
    color: white;
    font-family: $sherikhand-font-family;
    margin-bottom: 18px;
  }
  .footer-list {
    li {
      list-style: none;
      margin-bottom: 8px;
      a {
        color: white;
        font-size: 16px;
        text-decoration: none;
        i {
          width: 12px;
          height: 12px;
          font-size: 12px;
          margin-right: 12px;
        }
      }
    }
  }
}

// Page Loading Overlay //

/* .page-loader {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  animation: loading-fade 2s ease-in 2.4s forwards;
  animation-fill-mode: forwards;
  .loader {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    animation: loading-spin-fade 2s ease-in-out infinite, spin 1.5s linear 3;
  }
} */

// Like Button Click //

input[type="checkbox"] {
  opacity: 0;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  & + label {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    i {
      font-size: 22px;
      color: #afafaf;
    }
    &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "font awesome 5 free";
      font-weight: 100;
      font-size: 22px;
      width: 22px;
      height: 22px;
      position: absolute;
      color: #afafaf;
      content: "\f004"; /* fa-heart */
    }
  }
  &:checked + label::before {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    animation: fill-in 0.3s ease-in-out;
    font-weight: 700;
    background: linear-gradient(
      45deg,
      $secondary-color 0%,
      $primary-color 100%
    );
    background-size: 10%;
    background-clip: text;
    background-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    content: "\f004"; /* fa-heart */
  }
}

// animations //
@keyframes fill-in {
  from {
    font-size: 0px;
  }
  to {
    font-size: 22px;
  }
}
@keyframes loading-spin-fade {
  0% {
    border-top-color: #353535;
    border-bottom-color: #353535;
    opacity: 0%;
  }
  50% {
    border-top-color: #353535;
    border-bottom-color: #353535;
    opacity: 100%;
  }
  100% {
    border-top-color: #353535;
    border-bottom-color: #353535;
    opacity: 0%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    overflow: hidden;
    visibility: hidden;
  }
}
