// Fonts

$roboto-font-family: "Roboto", sans-serif;
$sherikhand-font-family: "Shrikhand", sans-serif;

//Fonts weights

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

//colors

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$gradient-button-color: linear-gradient(
  0deg,
  rgba(147, 86, 220, 1) 0%,
  rgba(255, 121, 218, 1) 100%
);

$like-button-color: black;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $roboto-font-family;
}
body {
  min-width: 375px;
  max-width: 375px;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

// Header Styling //

.header {
  width: 100%;
  height: 65px;
  .shadow {
    position: relative;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.21);
  }
  .logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 65px;

    span {
      font-family: $sherikhand-font-family;
      font-size: 30px;
    }
    a {
      position: absolute;
      top: 20px;
      left: 24px;
      font-size: 20px;
      color: black;
    }
  }
}

// End Header Styling //

// Main Styling //
.main-container {
  width: 100%;
  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    gap: 10px;
    span {
      font-family: $roboto-font-family;
      font-size: 18px;
    }
    .location-title {
      h1 {
        font-family: $roboto-font-family;
        font-size: 18px;
      }
    }
  }
  .menu-book-banner {
    width: 100%;
    .menu-book-container {
      background-color: #f6f6f6;
      display: flex;
      height: 288px;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex-wrap: nowrap;
      font-family: $roboto-font-family;
      padding: 20px;
      .menu-explore-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(
          0deg,
          rgba(147, 86, 220, 1) 0%,
          rgba(255, 121, 218, 1) 100%
        );
        border: none;
        width: 218px;
        height: 50px;
        border-radius: 50px;
        font-size: 16px;
        font-family: $roboto-font-family;
        color: #fff;
        box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.21);
        text-decoration: none;
      }
      h1 {
        font-size: 24px;
        font-weight: $bold;
      }
      p {
        width: 298px;
        font-size: 18px;
        font-weight: $light;
        text-align: center;
      }
    }
    .how-it-works {
      width: 100%;
      height: 440px;
      display: flex;
      flex-direction: column;
      padding: 0px 20px 0px 20px;
      h1 {
        font-size: 24px;
        font-weight: $bold;
        color: #000000;
        font-family: $roboto-font-family;
        margin: 46px 0px 26px 0px;
      }
      .cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        width: 98%;
        gap: 22px;
        margin-left: 10px;
        .how-it-works-card {
          width: 100%;
          height: 74px;
          background-color: #f6f6f6;
          border-radius: 20px;
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          padding: 20px 20px 20px 25px;
          gap: 20px;
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.21);
          span {
            position: absolute;
            left: -15px;
            height: 25px;
            width: 25px;
            font-size: 15px;
            font-weight: $light;
            color: #ffffff;
            font-family: $roboto-font-family;
            background-color: $primary-color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          i {
            font-size: 18px;
            color: #9a9a9a;
          }
          p {
            font-size: 16px;
            font-weight: $bold;
            color: #000000;
          }

          &:nth-child(3) {
            background-color: #f5edff;
            i {
              color: #a877e3;
            }
          }
        }
      }
    }
    .restaurants {
      width: 100%;
      background-color: #f8f8f8;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding-bottom: 60px;

      h2 {
        font-size: 24px;
        font-weight: $bold;
        font-family: $roboto-font-family;
        margin: 52px 0px 0px 20px;
      }
      .restaurants-cards {
        display: flex;
        flex-direction: column;
        padding: 22px 20px 0px 20px;
        gap: 28px;
        a {
          text-decoration: none;
        }
        .card {
          width: 100%;
          background-color: #ffffff;
          border-radius: 12px;
          box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.45);
          position: relative;
          .card-image {
            width: 100%;
            height: 175px;
            object-fit: cover;
            object-position: center bottom;
            border-radius: 12px 12px 0px 0px;
          }
          &:nth-child(2) {
            .card-image {
              object-position: center -148px;
            }
          }
          .card-like {
            position: absolute;
            right: 23px;
            bottom: 30px;
          }
        }
        .card-content {
          margin: 15px;
          height: 41px;
          width: fit-content;
          h3 {
            font-size: 18px;
            font-weight: $bold;
            color: #000000;
          }
          p {
            font-size: 16px;
            font-weight: $light;
            color: #aaaaaa;
          }
        }
        .card-content-like-button {
          position: absolute;
          bottom: 25px;
          right: 25px;
        }
      }
    }

    .new-restaurant {
      position: absolute;
      top: 13px;
      right: 11px;
      height: 30px;
      width: 80px;
      background-color: $tertiary-color;
      text-align: center;
      padding: 6px 0px 0px 0px;
      font-size: 14px;
      font-weight: $bold;
      color: #30836e;
      border-radius: 2px;
    }
  }
  .restaurant-image img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    object-position: center;
    z-index: 0;
  }
  .menu-container {
    position: relative;
    top: -55px;
    width: 100%;
    height: 1196px;
    z-index: 1;
    border-radius: 40px 40px 0px 0px;
    background-color: white;
    .menu-tittle {
      padding: 31px 40px 0px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-size: 28px;
        font-weight: $bold;
        font-family: $sherikhand-font-family;
      }
      .menu-tittle-like-button {
        position: relative;
        width: 26px;
        height: 26px;
        cursor: pointer;
        label {
          position: absolute;
          top: 0;
          left: 0;
          width: 26px;
          height: 26px;
          i {
            font-size: 22px;
            color: $like-button-color;
          }
        }
      }
    }
    .menu-categories {
      padding: 0 15px 15px 15px;

      .dish-types {
        font-size: 16px;
        font-weight: $light;
        color: #000000;
        margin: 22px 0px 0px 0px;

        opacity: 0;
        @for $i from 1 through 12 {
          &:nth-child(#{$i}) {
            animation-name: cards-loading;
            animation-duration: 0.5s;
            animation-delay: #{$i * 0.5}s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
          }
        }

        &::after {
          content: "";
          background-color: $tertiary-color;
          display: block;
          position: relative;
          left: -2px;
          width: 40px;
          height: 4px;
        }
      }
      .menu-cards {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 15px;
        margin: 15px 0px 0px 0px;

        .cards {
          width: 100%;
          height: 70px;
          border-radius: 15px;
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.205);
          padding: 10px 12px;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          flex-wrap: nowrap;
          overflow: hidden;
          z-index: 1;
          opacity: 0;
          @for $i from 1 through 12 {
            &:nth-child(#{$i}) {
              animation-name: cards-loading;
              animation-duration: 0.5s;
              animation-delay: #{$i * 0.5}s;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forwards;
            }
          }

          .item-name {
            font-size: 18px;
            font-weight: $bold;
            color: #000000;
            margin-bottom: 5px;
          }
          .item-description {
            font-size: 15px;
            font-weight: $light;
            color: #000000;
          }

          .add-to-cart {
            position: absolute;
            top: 0;
            left: 0px;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            z-index: 2;
            input[type="checkbox"] {
              display: flex;
              align-items: center;
              position: absolute;
              left: 0px;
              width: 100%;
              height: 100%;
              appearance: none;
              outline: none;
              opacity: 1;
              cursor: pointer;
              border-radius: 0 0 15px;
              overflow: hidden;
              &::before {
                width: 60px;
                height: 100%;
                position: absolute;
                right: -60px;
                content: "";
                transition: 1s;
                background-color: $tertiary-color;
              }
              &::after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                font-size: 22px;
                color: white;
                position: absolute;
                right: -30px;
                content: "\f058";
                transition: 1s;
              }
            }
            label {
              display: flex;
              align-items: center;
              align-content: center;
              position: absolute;
              height: fit-content;
              right: 0px;
              top: 35px;
              margin-right: 25px;
              padding: 2px;
              font-size: 16px;
              font-weight: $bold;
              transition-delay: 0.4s;
              transition: 1s;
              background-color: white;

              overflow: hidden;
              &::before {
                content: "...";
                margin-right: 10px;
                opacity: 0;
                position: relative;
                transition: opacity 0.095s ease-in-out 0.24s;
              }
            }

            input[type="checkbox"]:checked {
              &::after {
                right: 20px;
                transform: rotate(360deg);
              }
              &::before {
                background-color: $tertiary-color;
                right: 0px;
              }
            }
            input[type="checkbox"]:checked + label {
              right: 45px;
            }
            input[type="checkbox"]:checked + .big-text {
              &::before {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .order-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px 0;
      position: relative;
      opacity: 0;
      animation: cards-loading 1s ease-in-out forwards 5.55s;
      button {
        position: relative;
        width: 186px;
        height: 50px;
        background: $gradient-button-color;
        border-radius: 25px;
        color: white;
        font-size: 15px;
        border-style: none;
        cursor: pointer;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

footer {
  width: 100%px;
  height: 197px;
  background-color: #f6f6f6;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  background-color: #353535;
  padding: 22px 25px;
  .logo {
    font-size: 18px;
    font-weight: $bold;
    color: white;
    font-family: $sherikhand-font-family;
    margin-bottom: 18px;
  }
  .footer-list {
    li {
      list-style: none;
      margin-bottom: 8px;
      a {
        color: white;
        font-size: 16px;
        text-decoration: none;
        i {
          width: 12px;
          height: 12px;
          font-size: 12px;
          margin-right: 12px;
        }
      }
    }
  }
}

// Page Loading Overlay //

// .page-loader {
//   height: 100%;
//   width: 100%;
//   position: fixed;
//   top: 0px;
//   left: 0px;
//   z-index: 99999;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: #ffffff;
//   animation: loading-fade 1.8s ease-in-out 4s forwards;
//   .loader {
//     position: relative;
//     border-radius: 50%;
//     border: 5px solid #ffffff;
//     span {
//       position: relative;
//       display: inline-block;
//       font-family: $sherikhand-font-family;
//       font-size: 40px;

//       @for $i from 1 through 8 {
//         &:nth-child(#{$i}) {
//           animation: text-jump 1.8s ease-in-out #{$i * 0.1}s forwards 3,
//             loading-fade 1.8s ease-in-out 3.5s forwards;
//         }
//       }
//     }
//   }
// }

// Like Button Styling //
.card-content-like-button,
.menu-tittle-like-button {
  input[type="checkbox"] {
    position: relative;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    & + label {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      i {
        position: absolute;
        top: 3px;
        font-size: 22px;
        color: $like-button-color;
        z-index: 0;
      }
      &::before {
        position: absolute;
        bottom: 0px;
        left: 0px;
        font-family: "font awesome 5 free";
        font-weight: 100;
        font-size: 22px;
        color: $like-button-color;
        z-index: 1;
        content: ""; /* fa-heart */
        cursor: pointer;
      }
    }
    &:checked + label::before {
      font-size: 22px;
      animation: fill-in 0.3s ease-in-out forwards;
      font-weight: 700;
      background: linear-gradient(
        45deg,
        $secondary-color 0%,
        $primary-color 100%
      );
      background-size: 10%;
      background-clip: text;
      background-color: transparent;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      content: "\f004"; /* fa-heart */
    }
  }
}

// End Like Button Styling //

// animations //
@keyframes fill-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.2);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-55px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  58% {
    transform: scale(1, 1) translateY(-7px);
  }
  65% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes loading-fade {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    overflow: hidden;
    visibility: hidden;
  }
}

@keyframes cards-loading {
  0% {
    transform: translatey(10px);
    opacity: 0;
  }
  100% {
    transform: translatey(0px);
    opacity: 1;
  }
}
