.dish-types {
  font-size: 16px;
  font-weight: $light;
  color: #000000;
  margin: 22px 0px 0px 0px;
  opacity: 0;
  @for $i from 1 through 14 {
    &:nth-child(#{$i}) {
      animation-name: cards-loading;
      animation-duration: 0.3s;
      animation-delay: #{$i * 0.5}s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }

  &::after {
    content: "";
    background-color: $tertiary-color;
    display: block;
    position: relative;
    left: -2px;
    width: 40px;
    height: 4px;
  }
}
