.menu-tittle-like-button {
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
  label {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    i {
      font-size: 22px;
      color: $like-button-color;
    }
  }
}
