.new-restaurant {
  position: absolute;
  top: 13px;
  right: 11px;
  height: 30px;
  width: 80px;
  background-color: $tertiary-color;
  text-align: center;
  padding: 6px 0px 0px 0px;
  font-size: 14px;
  font-weight: $bold;
  color: #30836e;
  border-radius: 2px;
}
