.restaurants-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 22px 20px 0px 20px;
  gap: 28px;
  @include media(lg, md) {
    flex-direction: row;
  }
  .card {
    width: 100%;
    @include media(lg, md) {
      width: 300px;
    }
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.45);
    position: relative;
    .card-image {
      width: 100%;
      height: 175px;
      object-fit: cover;
      object-position: center bottom;
      border-radius: 12px 12px 0px 0px;
    }
    &:nth-child(2) {
      .card-image {
        object-position: center -148px;
        @include media(lg, md) {
          object-position: center -48px;
        }
      }
    }
    .card-like {
      position: absolute;
      right: 23px;
      bottom: 30px;
    }
  }
  .card-content {
    padding: 10px;
    height: 41px;
    width: fit-content;
    width: -moz-fit-content;
    h3 {
      font-size: 18px;
      font-weight: $bold;
      color: #000000;
    }
    p {
      font-size: 16px;
      font-weight: $light;
      color: #767676;
    }
  }
}
